@using System.Diagnostics
@using Online_Food_Corner.Models
@model IEnumerable<Online_Food_Corner.Models.Order>

@{
    ViewBag.Main = "Customer";
    ViewBag.Title = "OrderList";
    Layout = "~/Views/Layout/_UserListLayout.cshtml";
}

<p>
    @Html.ActionLink("Make New Order", "ProductListReadOnly")
</p>
 
@{
    var counter = 0;
    foreach (var item in Model)
    {
        counter++;
    }
    ViewBag.CounterO = counter;
}

@{
    if (ViewBag.count == 0)
    {
        <p>You have no order yet.</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.total_price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.timing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.delivery_mode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.order_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.product_name)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.total_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.timing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.delivery_mode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_date)
                    </td>
                    <td>
                        @{
                            var db = new ApplicationDbContext();
                            var id = item.ProductId;
                            var product = db.Products.SingleOrDefault(x => x.id == id);
                            ViewBag.pName = product.product_name;
                        }
                        @ViewBag.pName
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                        @Html.ActionLink("Details", "Details", new { id=item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { id=item.id })
                    </td>
                </tr>
            }
        </table>
    }
}
