@model IEnumerable<Online_Food_Corner.Models.Product>

@{
    ViewBag.Main = "Products";
    ViewBag.Title = "Product List";
    Layout = "~/Views/Layout/_UserListLayout.cshtml";
}

@{
    var counter = 0;
    foreach (var item in Model)
    {
        counter++;
    }
    ViewBag.CounterP = counter;
}
@using (Html.BeginForm("ProductListReadOnly", "Customer", FormMethod.Get))
{
    <div class="input-group">
        @Html.TextBox("name", null, new {@class = "form-control border-0 small",  @style="margin-left:800px;", @placeholder="Search Product"})<button type="submit" class="btn btn-primary" style="margin-bottom: 20px"><i class="fas fa-search fa-sm"></i></button>

    </div>
    

}
@{
        if (Model.Count() != 0)
        {
        <table class="table">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div style="margin-top: 100px; margin-left: 10px">
                            @Html.DisplayFor(modelItem => item.product_name)
                        </div>
                    </td>
                    <td>
                        <div style="margin-top: 100px; margin-left: 100px">
                            @Html.DisplayFor(modelItem => item.product_type)
                        </div>
                    </td>
                    <td>
                        <div style="margin-top: 100px; margin-left: 100px">
                            @{
                                var a = (item.product_Price) / (item.product_quantity);
                            }
                            $@Html.DisplayFor(modelItem => a)
                        </div>
                    </td>
                    <td>
                        @{
                            string imageBase64 = Convert.ToBase64String(item.product_picture);
                            string imageSrc = string.Format("data:image/gif;base64,{0}", imageBase64);
                        }
                        <div class="col-md-4 col-sm-6" style="margin-left: 140px">
                            <div class="single-food mt-5">
                                <div class="food-img">
                                    <img src="@imageSrc" class="img-fluid" alt="">
                                </div>
                            </div>
                        </div>
                    </td>
                    
                    <td>
                        <div style="margin-top: 100px; margin-left: -150px">
                            @Html.ActionLink("Order Now", "MakeOrder", new { id = item.id })
                        </div>
                    </td>
                </tr>

            }

        </table>

    }
    else
    {
        <p>No Product Found.</p>
    }
    @Html.ActionLink("Go To Order List", "OrderList")
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}