@using Online_Food_Corner.Models
@model Online_Food_Corner.Models.Order

@{
    ViewBag.Title = "AddOrder";
}

<h2>AddOrder</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Order</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @*<div class="form-group">
            @Html.LabelFor(model => model.total_price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.total_price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.total_price, "", new { @class = "text-danger" })
            </div>
        </div>*@
        @{
            var deliveryMode = new List<Order>
            {
                new Order{ delivery_mode = "Normal"},
                new Order {delivery_mode = "Urgent"}
            };
        }
        <div class="form-group">
            @Html.LabelFor(model => model.delivery_mode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model=>model.delivery_mode, new SelectList(deliveryMode, "delivery_mode", "delivery_mode"), "Select Delivery Mode", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.delivery_mode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "OrderList")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}