@using Online_Food_Corner.Models
@model IEnumerable<Online_Food_Corner.Models.Order>

@{
    ViewBag.Title = "Order List";
    ViewBag.Main = "Order";
    Layout = "~/Views/Layout/_AdminListLayout.cshtml";
}

@{
    if (ViewBag.count == 0)
    {
        <p>You have no order yet.</p>
    }
    else
    {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.total_price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.timing)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.delivery_mode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.order_date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Customer.customer_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product.product_name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.total_price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.timing)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.delivery_mode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.order_date)
                    </td>
                    <td>
                        @{
                            var db = new ApplicationDbContext();
                            var customer = db.Customers.Single(x => x.id == item.CustomerId);
                            var product = db.Products.Single(x => x.id == item.ProductId);
                            ViewBag.cutomerName = customer.customer_name;
                            ViewBag.productName = product.product_name;
                        }
                        @ViewBag.cutomerName
                    </td>
                    <td>
                        @ViewBag.productName
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.ActionLink("Details", "OrderDetails", new {id = item.id}) |
                        @Html.ActionLink("Send", "SendOrder", new {id = item.id})
                    </td>
                </tr>
            }

        </table>


    }
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}