@model Online_Food_Corner.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Layout/_ForgotPassword.cshtml";
}
<header>
    <!-- CSS Files -->
    <link rel="stylesheet" href="~/Content/assets/css/animate-3.7.0.css">
    <link rel="stylesheet" href="~/Content/assets/css/font-awesome-4.7.0.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-4.1.3.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/owl-carousel.min.css">
    <link rel="stylesheet" href="~/Content/assets/css/style.css">
</header>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <div class="form-group">
            @Html.TextBoxFor(m => m.Email, new { @placeholder = "Enter Your Email", id = "email", @class = "form-control form-control-user" })
            
        </div>
       
    </div>
    <input type="submit" class="btn btn-primary btn-user btn-block" value="Email Link" />
    <hr />

    <a href="@Url.Action("Login", "Account")" class="btn btn-google btn-user btn-block">
        <i class="fab fa-google fa-fw"></i> Login with Google
    </a>
    <a href="@Url.Action("Login", "Account")" class="btn btn-facebook btn-user btn-block">
        <i class="fab fa-facebook-f fa-fw"></i> Login with Facebook
    </a>
    <hr>
    <div class="text-center">
        <a class="small" href="@Url.Action("Login", "Account")">Go to Login Form</a>
    </div>
    <div class="text-center">
        <a class="small" href="@Url.Action("Register", "Account")">Register As a new user!</a>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
