<div class="container">
    <div class="row">
        <div class="col-lg-2">
            <div class="logo-area">
                <a href="#"><img src="~/Content/assets/images/logo/logo.png" alt="logo"></a>
            </div>
        </div>
        <div class="col-lg-10">
            <div class="custom-navbar">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="main-menu">
                <ul>
                    <li class="active">@(Html.ActionLink("Home", "index", "Home"))
                    <li>@(Html.ActionLink("About", "About", "Home"))</li>
                    <li>@Html.ActionLink("Menu", "Menu", "Admin")</li>
                    <li>@(Html.ActionLink("Contact", "Contact", "Home"))</li>
                            
                    <li>@Html.ActionLink("LOGIN", "Login", "Account")</li>
                    <li>@Html.ActionLink("Register", "Register", "Account")</li>
                </ul>
            </div>
        </div>
    </div>
</div>
