@using Online_Food_Corner.Models
@model Online_Food_Corner.Models.Worker

@{
    ViewBag.Title = "Create Employee";
    ViewBag.Main = "Admin";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
      
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.worker_name, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.worker_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.worker_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.salary, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.salary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.salary, "", new { @class = "text-danger" })
            </div>
        </div>
        @{
            var workerStatus = new List<Worker>
            {
                new Worker{ worker_status = "Chef"},
                new Worker {worker_status = "Delivery Team Member"}
            };
        }
        <div class="form-group">
            @Html.LabelFor(model => model.worker_status, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.worker_status, new SelectList(workerStatus, "worker_status", "worker_status"), "Select Worker Status", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.worker_status, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Employee" class="btn btn-info" style="margin-left: 436px" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "EmployeeList")
</div>
