@model IEnumerable<Online_Food_Corner.Models.Order>

@{
    ViewBag.Title = "OrderList";
}

<h2>OrderList</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timing)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.delivery_mode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customer.customer_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.product_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.total_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timing)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.delivery_mode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.customer_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.product_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
