@using Online_Food_Corner.Models
@model Online_Food_Corner.Models.WorkerOrder

@{
    ViewBag.Main = "Order";
    ViewBag.Title = "Send Order";
    Layout = "~/Views/Layout/_AdminLayout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @{
            var db = new ApplicationDbContext();
            var workerList = db.Workers.ToList();
        }
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-4" })*@
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.WorkerId, new SelectList(workerList, "id", "id"), "Select Worker", new {  @class = "form-control"  })
                @Html.ValidationMessageFor(model => model.Worker, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Send Order" class="btn btn-info" style="margin-left: 465px;" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Workers List", "EmployeeList") |
    @Html.ActionLink("Workers Order List", "WorkersOrder")
</div>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}